/* cBB Chat
--------------------------------------------- */

#chat-body {
    background: -moz-linear-gradient(center top , #000, #bababa 40px) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -o-linear-gradient(top, #000, #bababa 40px) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -webkit-linear-gradient(top, #000, #bababa 40px) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: linear-gradient(to bottom, #000, #bababa 40px) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 7px;
}

#chat-content {
    background: none repeat scroll 0 0 #f5f3f5;
}
.chat-row:hover {
    background-color: #F5F3F5;
}
